.btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background: #898C2B;
    color: #F2F2F2;
}

.btn-primary:hover {
    background: #777925;
}