.btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background: #898C2B;
    color: #F2F2F2;
}

.btn-primary:hover {
    background: #777925;
}
/* src/pages/user/Payment.css */

/* 전체 페이지 스타일 */
.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
  }
  
  /* 카드 형태로 디자인 */
  .payment-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .payment-title {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #343a40;
  }
  
  /* 상세 정보 스타일 */
  .payment-details {
    text-align: left;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
  }
  
  .payment-details p {
    margin: 1.5rem 0;
    font-size: 1rem;
    color: #495057;
  }
  
  .payment-details span {
    font-weight: bold;
    color: #212529;
  }
  
  .total-amount {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e03131;
    margin-top: 1rem;
  }
  /* 표 스타일링 (예시) */
.payment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 1rem;
}

.payment-table th,
.payment-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.payment-table thead {
  background-color: #f3f3f3;
}

.payment-page h1 {
  margin-bottom: 20px;
}
  
  /* 에러 메시지 스타일 */
  .error-message {
    color: #e03131;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
  } 