@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
body {
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  /* font-family: "Hahmlet";  */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-family: "IBM Plex Sans KR", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}